{% extends 'base.html' %}

{% block content %}
    <main>
        {% if form.errors %}
            <p>Incorrect data, Try again</p>
        {% endif %}
        <section class="subjects">

                <form class="login" method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="cta-add form-btn" name="submit">Login</button>
                    <input type="hidden" name="next" value="{% url 'diary:index' %}">
                </form>

        </section>
    </main>
{% endblock %}
