{% extends 'base.html' %}

{% block content %}
    <section class="subject-container">
        <nav class="nav-subject">
            <ul class="nav-subject-links">
                <li>Subject: <strong>{{ subject }}</strong></li>
                <li>
                    {% for entry in entries %}
                        <p>{{ entry.addition_time|date:'d M Y H:i' }}</p>
                    {% endfor %}
                </li>
                <li><a href="{% url 'diary:new_entry' subject.id %}">Add new entry</a></li>
            </ul>

        </nav>

        <ul class="entry">
            {% for entry in entries %}
                <p>{{ entry.text|linebreaks }}</p>
                <div class="edit-entry"><a href="{% url 'diary:edit_entry' entry.id %}">Edit entry</a></div>
            {% empty %}
                <li class="empty">Not found entry</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

