{% extends 'base.html' %}

{% block content %}
    <p>Subject: {{ subject }}</p>
    <p>entries:</p>
    <p><a href="{% url 'diary:new_entry' subject.id %}">Add new entry</a></p>
    <ul>
        {% for entry in entries %}
            <p>{{ entry.addition_time|date:'d M Y H:i' }}</p>
            <p>{{ entry.text|linebreaks }}</p>
            <p><a href="{% url 'diary:edit_entry' entry.id %}">Edit entry</a></p>
        {% empty %}
            <li>No found entry</li>
        {% endfor %}
    </ul>
{% endblock %}